<template>
  <div>
    <b-button variant="success" class="float-right" @click="addNewUser"
      >Add New</b-button
    >
    <b-modal
      id="modal-form-user"
      ref="modal-form-user"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <!-- name -->
        <b-form-group
          label="Name"
          label-for="name"
          :invalid-feedback="invalidFeedbackName"
          :valid-feedback="validFeedbackName"
          :state="stateName"
        >
          <b-form-input id="name" v-model="form.name" required> </b-form-input>
        </b-form-group>
        <!-- gender -->
        <b-form-group
          label="Gender:"
          label-for="gender"
          :invalid-feedback="invalidFeedbackGender"
          :valid-feedback="validFeedbackGender"
          :state="stateGender"
        >
          <b-form-select
            id="gender"
            v-model="form.gender"
            :options="genderOptions"
            required
          ></b-form-select>
        </b-form-group>
        <!-- birthdate -->
        <b-form-group
          label="Birthdate"
          label-for="birthdate"
          :invalid-feedback="invalidFeedbackBirthdate"
          :valid-feedback="validFeedbackBirthdate"
          :state="stateBirthdate"
        >
          <b-form-input id="birthdate" v-model="form.birthdate" required>
          </b-form-input>
          <!-- <b-form-input type="date" id="start" name="trip-start" value="0000-00-00" min="1960-01-01" max="2020-12-31"></b-form-input> -->
        </b-form-group>
        <!-- education -->
        <b-form-group
          label="Education:"
          label-for="education"
          :invalid-feedback="invalidFeedbackEducation"
          :valid-feedback="validFeedbackEducation"
          :state="stateEducation"
        >
          <b-form-select
            id="education"
            v-model="form.education"
            :options="educateOptions"
            required
          ></b-form-select>
        </b-form-group>
        <!-- department -->
        <b-form-group
          label="Department:"
          label-for="department"
          :invalid-feedback="invalidFeedbackEducation"
          :valid-feedback="validFeedbackEducation"
          :state="stateEducation"
        >
          <b-form-select
            id="department"
            v-model="form.department"
            :options="departmentOptions"
            required
          ></b-form-select>
        </b-form-group>
        <!-- saraly -->
        <b-form-group
          label="Saraly"
          label-for="saraly"
          :invalid-feedback="invalidFeedbackSaraly"
          :valid-feedback="validFeedbackSaraly"
          :state="stateSaraly"
        >
          <b-form-input id="saraly" v-model="form.saraly" required>
          </b-form-input>
        </b-form-group>
      </form>
      <b-card class="mt-3" header="Form Data Result">
        <pre class="m-0">{{ form }}</pre>
      </b-card>
    </b-modal>
    <b-table striped hover :items="userList" :fields="fields">
      <template v-slot:cell(operation)="data">
        <b-button @click="editUser(data.item)">Edit</b-button>
        &nbsp;
        <b-button variant="danger" @click="delUser(data.item)">Delete</b-button>
      </template>
    </b-table>
  </div>
</template>

<script>
export default {
  data () {
    return {
      title: 'Add new user',
      form: {
        id: -1,
        name: '',
        gender: null,
        birthdate: '',
        education: null,
        department: null,
        saraly: ''
      },
      genderOptions: [
        { text: 'Select One', value: null },
        { value: 'M', text: 'Male' },
        { value: 'F', text: 'Female' },
        { value: 'Other..', text: 'Other..' }
      ],
      educateOptions: [
        { text: 'Select One', value: null },
        { value: 'ปวช.', text: 'ปวช' },
        { value: 'ปวส.', text: 'ปวส' },
        { value: 'ปริญญาตรี', text: 'ปริญญาตรี' },
        { value: 'ปริญญาโท', text: 'ปริญญาโท' },
        { value: 'ปริญญาเอก', text: 'ปริญญาเอก' },
        { value: 'Other..', text: 'Other..' }
      ],
      departmentOptions: [
        { text: 'Select One', value: null },
        { value: 'Accounting', text: 'Accounting' },
        { value: 'Administrative', text: 'Administrative' },
        { value: 'Customer Services', text: 'Customer Services' },
        { value: 'Software Developer', text: 'Software Developer' },
        { value: 'Other..', text: 'Other..' }
      ],
      userList: [
        {
          id: 1,
          name: 'Kim Taeyeon',
          gender: 'F',
          birthdate: '09/03/1989',
          education: 'ปริญญาตรี',
          department: 'Customer Services',
          saraly: '50000'
        },
        {
          id: 2,
          name: 'Jung Jessica',
          gender: 'F',
          birthdate: '18/04/1989',
          education: 'ปริญญาตรี',
          department: 'Administrative',
          saraly: '70000'
        }
      ],
      lastId: 3,
      fields: [
        'id',
        'name',
        'gender',
        'birthdate',
        'education',
        'department',
        'saraly',
        'operation'
      ]
    }
  },
  methods: {
    addNewUser () {
      console.log('Add new user')
      this.$bvModal.show('modal-form-user')
    },
    editUser (user) {
      console.log('Edit ')
      console.log(user)
      this.title = 'Edit user'
      this.form = { ...user }
      this.$bvModal.show('modal-form-user')
    },
    delUser (user) {
      console.log('Del ')
      console.log(user)
      this.$bvModal
        .msgBoxConfirm('Please confirm that you want to delete ' + user.name + ' ?', {
          title: 'Please Confirm',
          size: 'sm',
          buttonSize: 'sm',
          okVariant: 'danger',
          okTitle: 'YES',
          cancelTitle: 'NO',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true
        })
        .then(value => {
          if (value) {
            this.deleteUser(user)
          }
        })
    },
    resetModal () {
      this.form = {
        id: -1,
        name: '',
        gender: null,
        birthdate: '',
        education: null,
        department: null,
        saraly: ''
      }
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit () {
      // Check Validate
      if (
        this.stateName === false ||
        this.stateGender === false ||
        this.stateBirthdate === false ||
        this.stateEducation === false ||
        this.stateDepartment === false ||
        this.stateSaraly === false
      ) {
        return
      }
      // Do when pass validation
      if (this.form.id > 0) {
        this.updateUser(this.form)
      } else {
        this.addUser(this.form)
      }
      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-user')
      })
    },
    addUser (user) {
      user.id = this.lastId++
      this.userList.push(user)
    },
    updateUser (user) {
      const index = this.userList.findIndex(item => item.id === user.id)
      this.userList.splice(index, 1, user)
    },
    deleteUser (user) {
      const index = this.userList.findIndex(item => item.id === user.id)
      this.userList.splice(index, 1)
    }
  },
  computed: {
    // name
    stateName () {
      return this.form.name.length >= 2
    },
    invalidFeedbackName () {
      if (this.form.name.length > 2) {
        return ''
      } else if (this.form.name.length > 0) {
        return 'Enter at least 4 characters'
      } else {
        return 'Please enter your name'
      }
    },
    validFeedbackName () {
      return this.stateName === true ? 'Thank you' : ''
    },
    // gender
    stateGender () {
      return this.form.gender != null
    },
    invalidFeedbackGender () {
      if (this.form.gender != null) {
        return ''
      } else {
        return 'Please select your gender'
      }
    },
    validFeedbackGender () {
      return this.stateGender === true ? 'Thank you' : ''
    },
    // birthdate
    stateBirthdate () {
      return this.form.birthdate.length >= 2
    },
    invalidFeedbackBirthdate () {
      if (this.form.birthdate.length > 2) {
        return ''
      } else if (this.form.birthdate.length > 0) {
        return 'Enter at least 4 characters'
      } else {
        return 'Please enter your birthdate'
      }
    },
    validFeedbackBirthdate () {
      return this.stateName === true ? 'Thank you' : ''
    },
    // education
    stateEducation () {
      return this.form.education != null
    },
    invalidFeedbackEducation () {
      if (this.form.education != null) {
        return ''
      } else {
        return 'Please select your education'
      }
    },
    validFeedbackEducation () {
      return this.stateGender === true ? 'Thank you' : ''
    },
    // department
    stateDepartment () {
      return this.form.department != null
    },
    invalidFeedbackDepartment () {
      if (this.form.department != null) {
        return ''
      } else {
        return 'Please select your department'
      }
    },
    validFeedbackDepartment () {
      return this.stateDepartment === true ? 'Thank you' : ''
    },
    // saraly
    stateSaraly () {
      return this.form.saraly.length >= 2
    },
    invalidFeedbackSaraly () {
      if (this.form.saraly.length > 4) {
        return ''
      } else if (this.form.saraly.length > 0) {
        return 'Enter at least 4 characters'
      } else {
        return 'Please enter your saraly'
      }
    }
  }
}
</script>
